<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>购物车管理</title>
  <!-- Bootstrap CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet"></head>
<body>
<div class="container mt-5">
  <h1 class="text-center">购物车管理</h1>

  <!-- 购物车 -->
  <div class="row mt-4">
    <div class="col-md-12">
      <h2>购物车</h2>
      <ul class="list-group mb-3" id="cart-items">
        <!-- 可以添加更多购物车项 -->
      </ul>
      <h3 class="text-right">总计: ¥<span id="total-amount"></span></h3>
      <button class="btn btn-success btn-block" id="checkout-btn">结账</button>
    </div>
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>-->
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/request.js"></script>

<!-- 自定义脚本 -->
<script>
  async function getCartTotal(){
    let user = JSON.parse(sessionStorage.getItem("user"));
    const cartItems = document.querySelector("#cart-items")
    const totalAmount = document.querySelector("#total-amount")
    let res = await request("/getCart", {
      ...user
    }, "post", "fetch")
    if (res.status === 200) {
      let str =  ``
      if (res.data.items.length > 0) {
        // createBookList(res.data.books)
        // createPagination(res.data.totalPages)
        // totalCount.innerHTML = ` 购物车中有${res.data.items.length}件商品`
        res.data.items.map(item => {
          str += `<li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="cart-item">
            <span class="item-name">商品: <span class="name">${item.book.title}</span></span>
            <span class="item-price" style="margin-left: 100px">价格: <span class="price">¥${item.book.price}</span></span>
          </div>
          <div style="display: flex; flex-direction: row; width: 300px; align-items: center">
            <p style="width: 100px; margin-bottom: 0px">数量: </p>
            <input type="number" class="form-control quantity count" value=${item.count} min="1" data-price="10.00">
          </div>
          <button class="btn btn-danger btn-sm remove-item" data-price="10.00">移除</button>
        </li>`
        })
        totalAmount.innerHTML = `${res.data.totalAmount}`

      } else {
        // totalCount.innerHTML = ` 购物车中有0件商品`
        str = `<p>您还没有商品添加到购物车  <a href="/pages/books/index.html">去购物</a></p>`
        totalAmount.innerHTML = '0'
      }

      cartItems.innerHTML = str

      // console.log('res', res)
    }
  }
  getCartTotal()
</script>
</body>
</html>
