<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>订单管理</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
  <h1 class="my-4">我的订单</h1>
  <!-- Modal -->
  <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">订单详情</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row mb-12">
          <table class="table" id="orderItems">
            <thead>
            <tr>
              <th>图书名称</th>
              <th>图书作者</th>
              <th>图书价格</th>
              <th>数量</th>
              <th>金额</th>
              <th>封面</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary save-btn">保存图书</button>
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex;flex-direction: row; justify-content: end">
    <!--    <span>欢迎高贵的<span class="username"></span>贵客光临</span>-->
    <span style="width: 10px"></span>
    <a href="/pages/user/index.html">首页</a>
    <span style="width: 10px"></span>
<!--    <a href="/pages/manage/index.html">去管理图书</a>-->
    <span style="width: 10px"></span>
    <!--    <a href="/pages/order/index.html">去订单管理</a>-->
    <span style="width: 10px"></span>
    <a href="/pages/cart/index.html">购物车</a>
  </div>

  <!-- 表单: 添加新订单 -->
  <!--  <div class="card mb-4">-->
  <!--    <div class="card-header">-->
  <!--      添加新订单-->
  <!--    </div>-->
  <!--    <div class="card-body">-->
  <!--      <form id="addOrderForm">-->
  <!--        <div class="form-row">-->
  <!--          <div class="form-group col-md-4">-->
  <!--            <label for="orderNumber">订单号</label>-->
  <!--            <input type="text" class="form-control" id="orderNumber" placeholder="订单号" required>-->
  <!--          </div>-->
  <!--          <div class="form-group col-md-4">-->
  <!--            <label for="customerName">客户姓名</label>-->
  <!--            <input type="text" class="form-control" id="customerName" placeholder="客户姓名" required>-->
  <!--          </div>-->
  <!--          <div class="form-group col-md-4">-->
  <!--            <label for="orderDate">订单日期</label>-->
  <!--            <input type="date" class="form-control" id="orderDate" required>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <button type="submit" class="btn btn-primary">添加订单</button>-->
  <!--      </form>-->
  <!--    </div>-->
  <!--  </div>-->

  <!-- 表格: 显示订单列表 -->
  <div class="card">
    <div class="card-header">
      订单列表
    </div>
    <div class="card-body">
      <table class="table table-striped" id="ordersTable">
        <thead>
        <tr>
          <th>单号</th>
          <th>日期</th>
          <th>数量</th>
          <th>金额</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <!-- 动态生成订单行 -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/request.js"></script>
<script>

  const myModal = new bootstrap.Modal(document.querySelector(".modal"), {
    keyboard: false
  })
  // 示例数据
  const orders = [
    {orderNumber: '001', customerName: '张三', orderDate: '2023-06-01'},
    {orderNumber: '002', customerName: '李四', orderDate: '2023-06-02'}
  ];

  function formatTime(date) {
    date = new Date(date)
    const year = date.getFullYear()
    const month = date.getMonth() + 1
    const day = date.getDay()
    const hour = date.getHours()
    const minute = date.getMinutes()
    const second = date.getSeconds()

    return `${year}-${month}-${day} ${hour}:${minute > 10 ? minute : '0' + minute}:${second > 10 ? second : '0' + second}`
  }

  // 加载订单列表
  async function loadOrders() {
    let user = JSON.parse(sessionStorage.getItem("user"));
    const tableBody = document.querySelector('#ordersTable tbody');
    tableBody.innerHTML = '';

    let res = await request("/getMyOrders", {
      userId: user.id + ""
    }, "post", "fetch")
    //   <th>单号</th>
    // <th>日期</th>
    // <th>数量</th>
    // <th>金额</th>
    // <th>状态</th>
    // <th>操作</th>
    if (res.data) {
      res.data.forEach((order, index) => {
        const row = document.createElement('tr');
        row.innerHTML = `
                    <td>${order.id}</td>
                    <td>${formatTime(order.createTime)}</td>
                    <td>${order.totalCount}</td>
                    <td>${order.totalAmount}</td>
                    <td>${order.state === 0 ? '未发货' : order.state === 1 ? '已发货' : '已完成'}</td>
                    <td>
                        <button class="btn btn-info btn-sm" onclick="editOrder('${order.id}')">详情</button>
                        <button class="btn btn-danger btn-sm" onclick="deleteOrder(event, '${order.id}')">${order.state === 0 ? '未发货' : order.state === 1 ? '确认收货' : '已完成'}</button>
                    </td>
                `;
        tableBody.appendChild(row);
      });
    } else {
      tableBody.innerHTML = "暂未查询到您的订单"
    }

  }

  // // 添加新订单
  // document.getElementById('addOrderForm').addEventListener('submit', function(event) {
  //   event.preventDefault();
  //   const orderNumber = document.getElementById('orderNumber').value;
  //   const customerName = document.getElementById('customerName').value;
  //   const orderDate = document.getElementById('orderDate').value;
  //   orders.push({ orderNumber, customerName, orderDate });
  //   loadOrders();
  //   this.reset();
  // });

  // 编辑订单（示例，未实现实际功能）
  async function editOrder(orderId) {
    myModal.show()
    const tableBody = document.querySelector('#orderItems tbody');
    tableBody.innerHTML = '';

    // alert('编辑功能暂未实现');
    let res = await request("/orderDetail", {
      orderId
    }, "post", "fetch")

    if (res.status === 200) {
      res.data.forEach((order, index) => {
        const row = document.createElement('tr');
        row.innerHTML = `
                    <td>${order.title}</td>
                    <td>${order.author}</td>
                    <td>${order.price}</td>
                    <td>${order.count}</td>
                    <td>${order.amount}</td>
                    <td>${order.imgPath}</td>
                `;
        tableBody.appendChild(row);
      });
    }
  }

  // 发货订单
  async function deleteOrder(e,orderId) {
    // orders.splice(index, 1); updateState

    // console.log(e.target.innerHTML)


    if (e.target.innerHTML === "确认收货") {
      let res = await request("/updateState", {
        orderId,
        state: '2'
      }, "post", "fetch")

    } else {
      alert("次订单已发货或完成，不要重复操作")
    }
    await loadOrders();

  }

  // 初始加载订单列表
  loadOrders();
</script>
</body>
</html>
